@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
  padding: 0;
  margin: 0;
  background: white;
    width: 100%;
}
html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Varela Round", sans-serif;
}

.logo {
  box-sizing: inherit;
}

.navbar .icon {
  display: none;
}
.span {
  color: #ffcd23;
  font-size: 1.3rem;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
}
.navbar.responsive a {
  float: none;
  display: block;
  text-align: left;
}

.navbar {
  background: #1D8159;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
    font-size: 1.2rem;
}

.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  background: #ffcd23;
}
.navbar-collapse {
  justify-content: flex-end;
}

.description {
  margin-top: 8rem;
  position: relative;
  text-align: match-parent;
}
.description h1 {
  color: #1D8159;

}

.description h2 {
  color: #1D8159;
}

.description h3 {
  color: #79d279;
}

.description p {
  color: #666;
  font-size: 1.3rem;
  line-height: 1.5;
}

.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}
.feature-header {
  color: #ffcd23;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.feature-description {
  color: #ffcd23;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.features img {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}

/* Footer */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-facebook {
  background: #3b5998;
  color: white;
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}

.fa-youtube {
  background: #bb0000;
  color: white;
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}

.fa-twitter {
  background: #55acee;
  color: #79d279;
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}

.page-footer {
  background-color: #1D8159;
  color: black;
  padding:20px 0 10px;
}
.footer-copyright {
  color: black;
  padding: 10px 0;
}

.sd-content ul li {
  margin: 0 5px 5px 0;
  padding: 0;
  display: inline-block;
}
